*,ul,li,ol,a,p,span{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #F5F5F5;
    // font-family: 'Noto Sans Display', sans-serif;
    // font-family: 'Noto Sans Mono', monospace;
}
a{
    text-decoration: none;
}
.black{
    height: 104px;
    background: #424242;
}
.section_title{
    color: var(--orange-primery, #F57D0C);
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0 10px;
    justify-content: center;
    margin-bottom: 70px;
    .orange_line{
        background: var(--orange-primery, #F57D0C);
        height: 3px;
        width: 50%;
    }
}
.wrapper{
    overflow: clip;
}

// @media (max-width: 16500px) and (min-width: 992px){
//     .container {
//         max-width: 1168px;
//     }
// }
// @media (max-width: 992px){
//     .container{
//         max-width: 960px;
//     }
// }
@media (max-width: 1600px){
    .container {
        max-width: 1168px;
        padding: 0px 15px;
        margin: 0 auto;
    }
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}